@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-surface: #0f172a;
  --color-border: #1e293b;
  --color-primary: #3b82f6;
  --color-success: #10b981;
  --color-danger: #f43f5e;
  
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-white font-sans;
    background-image: 
      radial-gradient(circle at 50% 0%, rgba(59, 130, 246, 0.15) 0%, transparent 50%),
      radial-gradient(circle at 100% 0%, rgba(16, 185, 129, 0.1) 0%, transparent 30%);
    background-attachment: fixed;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
